body {
  font-family: Helvetica Neue, Arial, sans-serif;
  color: #353E34;
  font-size: 16px;
  background-color: #00ffff;
  color: #000;
}

h1 {
  font-size: 13em;
}

.block {
  padding: 16px;
  float: left;
  width: 260px;
  height: 240px;
  display: block;
  color: #000;
  text-decoration: none;
  margin-top: 20px;
  background-color: #fff;
}

h2 {
  font-size: 2.5em;
  font-weight: bold;
  letter-spacing: -0.075em;
  margin-bottom: 0.3em;
}

p {
  font-size: 2em;
  line-height: 1.3em;
}

.row > a:first-child {
  padding-left: 20px;
}

.row > a:nth-child(2n+1) {
  margin-top: 40px;
}

.row > a:nth-child(2n+3) {
  margin-top: 0;
}

.row > a:nth-child(6n+1):hover {
  background-color: #FFFF00;
}

.row > a:nth-child(6n+2):hover {
  background-color: #FF0000;
}

.row > a:nth-child(6n+3):hover {
  background-color: #00FF00;
}

.row > a:nth-child(6n+4):hover {
  background-color: #FF00FF;
}

.row > a:nth-child(6n+5):hover {
  background-color: #0000FF;
}

.row > a:nth-child(6n+6):hover {
  background-color: #FF8000;
}

.back {
  margin: 10px 0 0 10px;
  display: block:
  clear: both;
}

.back a {
  font-size: 4em;
  color: #000;
  text-decoration: none;
}