<!DOCTYPE HTML>
<html>
  <head>
    <title>chris wanstrath: the official website</title>
    <link href="/css/reset.css" rel="stylesheet" type="text/css" />

    <style>
      body {
        background:#fff;
        font-family: Helvetica Neue, Arial, sans-serif;
        margin-left: 15px;
      }
      h1 { font-size: 120px; }
      p { margin-top: 20px; font-size: 30px; }
    </style>
  </head>

  <body>
    {{{ yield }}}
  </body>
</html>
