<!DOCTYPE HTML>
<html>
  <head>
    <title> about chris wanstrath </title>
    <link href="/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="/css/defunkt.css" rel="stylesheet" type="text/css" />
    <style>
      body { background:#fff; }
      p {
        margin-left: 200px;
      }
      img {
        position: absolute;
        right: 0px;
        top: 0px;
      }
    </style>
  </head>

  <body>
    <h1> chris w. </h1>

    <img src="/img/me.jpg">

    {{#about}}
      <p>{{{fact}}}</p>
    {{/about}}

    <div class="back">
      <a href="/">
      &#8617;
      </a>
    </div>
  </body>
</html>
